/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

template{

    font-size: 14px;
    color: #0a0a0a;
    font-weight: 400;
    padding: 0;
    font-family: 'Nunito', sans-serif;
  
  }

  .primary-color{
    background-color: #da2b2a;
  }
  .primary-text{
color: #da2b2a;
  }

  .secondary-color{
    background-color: #f3f2ee;
  }
  .form-color{
    background: #009ca6;
  }
  .form-button:active{
    background: #009ca6;
  }
  
  .el-dropdown-link {
    cursor: pointer;
    color: #ffff;
  }
   .el-dropdown-link:hover{
    color: #f5d34c;
  }
  .el-icon-arrow-down {
    font-size: 20px;
  }
  .el-icon-arrow-down {
    font-size: 20px;
  }
  .el-dropdown-menu{
    background-color: white !important;
    
  }
  .dropdown-item{
    font-size: 18px; 
    color: #000;
  }

  .dropdown-item:hover {
    background-color: #f3f2ee !important;
    color: #000 !important;
}

.bg{
 
   background: no-repeat;; position: absolute; top: 0%; left: 0%;  z-index: -1; position: fixed;
}

.bg-home{

   background-size: cover ;
    
  }


 
.button-bg{
  background-color: #d1ccbd;
}
.bg-body{
  background-color: #4a4f53;
}

.bg-news-color{
  background-color: #f1f0eb;
}

.footer-text{
  color: #c9cbcc;
}
.copy-right{
  color: #aaafb4;
}

.bg-footer{
  background-color: #091b27;
}
.bg-copy-right{
  background-color: #071721;
}
/* slides */
